$primary-color: rgb(250, 245, 241);
$border-color: rgb(223, 219, 217);
$dm-primary-color: rgb(21, 32, 43);
$dm-border-color: rgb(61, 84, 102);
$desktop: "screen and (min-width: 768px)";

body {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
}

.click {
  height: 5px;
}

main {
  padding: 10px;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    background-color: $primary-color;
    border: 1px solid $border-color;
    padding: 1.5%;
    margin: 5%;
    border-radius: 4%;
    height: auto;
    @media #{$desktop} {
      min-width: 20%;
      max-width: 20%;
      flex: 1;
      margin: 2.5%;
    }

    &:hover {
      background-color: #96a4b3;
    }

    h3 {
      margin: 3px;
    }

    p {
      margin: 2px;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}

img {
  width: 60%;
}

header {
  height: 100px;
  top: 0;
  border-bottom: 1px solid $border-color;

  * {
    padding: 5px;
    margin-top: 30px;
  }

  span {
    font-size: small;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.dark-toggle {
  height: 30%;
  float: right;
  margin-right: 15px;
  background: #e6e1e1;
  border: none;
  font-family: inherit;
}

.header-name {
  width: 50%;
  height: 100%;
  margin: 0;
  margin-top: 8px;
  float: left;
}

form {
  width: 50%;
  margin-top: 20px;

  select {
    width: 100%;
    height: 45px;
    border-radius: 8%;
  }

  ul {
    margin: -1px 0 0 0;
  }
}
.searchbar {
  width: 90%;
  margin: 20px;
  display: flex;
  @media #{$desktop} {
    width: 50%;
    margin-right: 0;
  }

  input {
    height: 50px;
    border-radius: 7px;
    width: 100%;
  }
}

fieldset {
  border: none;
  margin-left: 8px;
  @media #{$desktop} {
    width: 50%;
  }
}

.light {
  background: #e6e1e1;
  color: #15202b;

  header {
    background: $primary-color;
    color: #15202b;
  }
}

.dark {
  background: $dm-primary-color;
  color: #fff;

  header {
    background: $dm-primary-color;
    color: seashell;
    border-bottom: 1px solid $dm-border-color;
  }

  main li {
    background-color: $dm-primary-color;
    border: 1px solid $dm-border-color;

    &:hover {
      background-color: rgb(37, 56, 75);
    }

    h3 {
      color: seashell;
    }

    p {
      color: seashell;
    }
  }

  button {
    background-color: #43484e;
    color: seashell;
  }
}
